body {
  background-image: url(./img/bg-blur.jpg);
  background-size: 100%;
  /* background-repeat: no-repeat; */
}

/* Data Table page */

.container-combobox {
  display: inline;
  width: 600px;
  margin-bottom: 15px;
}

.container-combobox label {
  margin-bottom: 5px;
}

.container-table {
  margin-top: 10rem;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.container-table table, label, div{
  color: white !important;
}

#data-table-users_filter {
  text-align: end !important;
  /* margin-left: 0 !important; */
}
#data-table-users_filter label{
  text-align: start !important;
  /* margin-left: 0 !important; */
}
#data-table-users_length {
  margin-bottom: 1rem;
}

/* Pricipal Page */
.padre {
  width: 100%;
}

.card-custom {
  background-color: transparent;
  backdrop-filter: blur(10px);
  width: 600px;
  height: 200px;
  text-align: center;
  color: white;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.card-custom h1 {
  margin-bottom: 2rem;
}

#title-modal {
  color: dodgerblue !important;
  font-size: 24px;
  text-align: center;
}

/* Ordinary form */

.card-custom-ordinary-form {
  background-color: transparent;
  backdrop-filter: blur(10px);
  width: 600px;
  height: auto;
  color: white;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.container-title h1 {
  width: auto;
}

.container-btn button {
  margin: 1rem 1rem 0 1rem;
}

.button-invisible {
  background-color: transparent;
}

.message-failed {
  width: 50%;
  text-align: center;
  background-color: rgba(255, 92, 92, 0.66);
  color: rgb(86, 0, 0) !important;
}

.message-succes {
  width: 50%;
  text-align: center;
  background-color: rgba(95, 255, 92, 0.66);
  color: rgb(0, 74, 6) !important;
}

.visible {
  display: none !important;
}

/* Contract form */
