body {
  background-image: url(./img/bg.jpg);
  background-size: 100%;
  /* background-repeat: no-repeat; */
}

/* Data Table page */

.back-buttom {
  width: 60px;
  height: 60px;
  text-decoration: none;
}

/* Pricipal Page */
.padre {
  width: 100%;
}

.card-custom {
  background-color: white;
  width: 600px;
  height: 200px;
  text-align: center;
  color: dodgerblue;
  font-weight: 600;
}

.card-custom h1 {
  margin-bottom: 2rem;
}

#title-modal {
  color: dodgerblue;
  font-size: 24px;
  text-align: center;
}